:root {
    --body-color: #434455;
    --logo-blue: #4D5AE5;
    --background-color: white;
    --text-color: #2E2F42;
    --hover-color: #404BBF;
    --button-background: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--body-color);
    background-color: var(--background-color);

}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}


/*========= header ===========*/


.logotype {
    color: var(--text-color);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        }


.logotype-blue {
        color: var(--logo-blue);
}




.menu-item-link {
    color: var(--text-color);
    font-weight: 500;
}

.menu-item-link:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

.menu-item-link:focus {
    color: var(--hover-color);
  text-decoration: underline;
}
        

.contacts-list-item {
color: var(--text-color);
font-style: normal;
}
.contacts-list-item:hover {
    color: var(--hover-color);
}

.contacts-list-item:focus {
    color: var(--hover-color);
}
/*========= /header ===========*/



/*===index====*/
.hero {
    background-color: var(--text-color);
}

.h-three-headers {
    color: var(--text-color);
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.4px;
}

.hero-heading {
    color: var(--background-color);
        text-align: center;
        /* Header 1 */
        font-family: 'Roboto',
            sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07
        ;
        /* 107.143% */
        letter-spacing: 1.12px;
}


/*====== body =======*/
.nav-button {
    color: var(--logo-blue);
    background: var(--button-background);
        text-align: center;
        /* Button Text */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}



.nav-button:hover {
    color: var(--background-color);
    background-color: var(--hover-color);

}

.nav-button:focus {
    color: var(--background-color);
    background-color: var(--hover-color);

}



/*====== /body =======*/



/*========= footer ==========*/

/*========= /footer ==========*/