:root {
    --body-color: #434455;
    --logo-blue: #4D5AE5;
    --background-color: white;
    --text-color: #2E2F42;
    --hover-color: #404BBF;
    --button-background: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--body-color);
    background-color: var(--background-color);

}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}


/*========= header ===========*/


.logotype {
    color: var(--logo-blue);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        }


.logotype-black {
        color: var(--text-color);
}




.menu-item-link {
    color: (--body-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;


}

.menu-item-link:hover, .menu-item-link:focus {
    color: var(--hover-color);
    text-decoration: underline;
}

.header-contacts {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-color);
    text-decoration: none;
}

.header-contacts:hover,
.header-contacts:focus {
    color: var(--hover-color);
}
        

.contacts-list-item {
color: var(--text-color);
font-style: normal;
}
.contacts-list-item:hover {
    color: var(--hover-color);
}

.contacts-list-item:focus {
    color: var(--hover-color);
}
/*========= /header ===========*/



/*===index====*/
.hero {
    background-color: var(--text-color);
}

.h-three-headers {
    color: var(--text-color);
        font-family: 'Roboto',
            sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.hero-heading {
    color: var(--background-color);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;        ;
        letter-spacing: 1.12px;
}


/*====== body =======*/
.nav-button {
    color: var(--background-color);
    background: var(--logo-blue);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
}



.nav-button:hover,
.nav-button:focus {
    color: var(--background-color);
    background-color: var(--hover-color);

}





/*====== /body =======*/



